<div class="header">
        <div class="logo"><img class="mr-10" src="assets/images/logo.png" alt=""> Configration Manager</div>
      </div>
    
      <div class="container">
        <div class="content-wrapper">
    
          <div class="manageapp-header">
            <h1 class="pull-left">{{isEdit ? 'Update' : 'Create'}} Environment</h1>
      </div>
    
        <div class="form-section">
        <form>
            <div class="server-error mb-20" *ngIf="errorList.length>0">
                <span class="error-text"> 
                    <span *ngFor="let error of errorList;">{{error}}</span>
                </span>	
                <span class="cross"></span>
            </div>
            <div class="min-h-200">
            <div class="row mb-20">
                <div class="w-25pt pull-left">
                    <label for="fname">Name</label>
                </div>
                <div class="w-75pt pull-left">
                    <input type="text" id="fname" name="name" placeholder="Name.." [(ngModel)]="environment.Name">
                </div>
            </div>
            <div class="row mb-20">
                <div class="w-25pt pull-left">
                    <label for="lname">Description</label>
                </div>
                <div class="w-75pt pull-left">
                    <input type="text" id="lname" name="county" placeholder="Description" [(ngModel)]="environment.Description">
                </div>
            </div>
            <div class="row">
                <div class="col-75">
                    <input type="checkbox" id="isProxyManaged" name="IsProxyManaged" [(ngModel)]="environment.IsProxyManaged">
                </div>
                <div class="col-25">
                    <label for="isProxyManaged">Need to manage proxy server</label>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">ProxyServiceUrl</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="ProxyServiceUrl" placeholder="ProxyServiceUrl" [(ngModel)]="environment.ProxyServiceUrl">
                </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="footer-section">
              <button class="button-default pull-right" (click)="onClickSubmit(environment)">{{isEdit ? 'Update' : 'Save'}}</button>
              <button class="button-flat pull-right" (click)="cancel()">Cancel</button>
    
          </div>
    
        </form>
    </div>
    