<h3 class="header">Create Product</h3>
<div class="container">
    <form #product="ngForm" (ngSubmit)="onClickSubmit(product.value)" >
        <div class="row">
            <div class="col-25">
                <label for="fname">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="Name" placeholder="Name.." ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Description</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="Description" placeholder="Description" ngModel>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save">
        </div>
    </form>
</div>