<div class="header">
        <div class="logo"><img class="mr-10" src="assets/images/logo.png" alt=""> Configration Manager</div>
      </div>
      <div class="container">
        <div class="content-wrapper">
          <div class="manageapp-header">
            <h1 class="pull-left">Settings</h1>
      <button class="button-flat pull-right" routerLink='create' > <span class="flat-button-icon mr-10 pull-left"></span>New Setting</button>
      </div>
      <div class="table-wrapper">
    
    <table>
            <thead>
                <tr>
                    <th *ngFor="let coloumn of settingColumns">{{coloumn}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let setting of settings; let i = index ">
                    <td >{{setting.Id}}</td>
                    <td >{{setting.Name}}</td>
                    <td >{{setting.Description}}</td>
                    <td >{{setting.ProductName}}</td>
                    <td >{{ConfigSettingTypes[setting.ConfigurationSettingTypeId]}}</td>
                    <td>
                        <div class="edit-action pull-left" routerLink= "edit/{{setting.Id}}">&#9998;</div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
    