
.pull-left{
  float: left;
}
.pull-right{
  float:right;
}
.clearfix{
 clear: both;
}
.cursor-pointer{
  cursor: pointer;
}
button{
  cursor: pointer;
  text-transform: uppercase;
}
h1{
  font-size: 20px;
  font-weight: 100;
  height: 40px;
  line-height: 40px;
}

.mr-20{
  margin-right: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.mr-5{
  margin-right: 5px;
}
.mt-20{
  margin-top: 20px;
}
.mr-10{
  margin-right: 10px;
}
.pl-20{
padding-left: 20px;
}
.min-h-200{
  min-height: 200px;
}

.w-10pt{
  width: 10%;
}
.w-15pt{
  width: 15%;
}
.w-20pt{
  width: 20%;
}

.w-25pt{
  width: 25%;
}
.w-30pt{
  width: 30%;
}
.w-55pt{
  width: 50%;
}
.w-75pt{
  width: 75%;
}
