$even-column-bg-color:#f2f2f2;
$th-bg-color:#1ead8a;
$header-bg-color:#f1f1f1;
$border-color: #E4E7E9;
$btn-bg-color:#1ead8a;
$btn-hv-color:#0b705d;
$form-bg-color: #f2f2f2;

$color-white:white;
$color-black:black;
