$even-column-bg-color:#f2f2f2;
$th-bg-color:#1ead8a;
$header-bg-color:#044D7C;
$border-color: #E4E7E9;
$btn-bg-color:#1ead8a;
$btn-hv-color:#0b705d;
$form-bg-color: #f2f2f2;

$table-hover-color:#E4E7E9;
$default-color: #141E25;
$color-white:white;
$color-black:black;
$color-error: #E32722;

$action-icon-background:#ECEFF0;

$header-height: 56px;
$manageapp-header: 60px;
