<h3 class="header">{{isEdit ? 'Update' : 'Create'}} Deployment Unit</h3>
<span *ngFor="let error of errorList;">
    <p>{{error}}</p>
</span>
<div class="container">
    <form (ngSubmit)="onClickSubmit(deploymentUnit)" >
        <div class="row">
            <div class="col-25">
                <label for="fname">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="deploymentUnit.Name" placeholder="Name.." [(ngModel)]="deploymentUnit.Name">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Description</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="deploymentUnit.Description" placeholder="Description" [(ngModel)]="deploymentUnit.Description">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Protocol</label>
            </div>
            <div class="col-75">
                <select name="protocol" [(ngModel)]="selectedProtocol">
                    <option *ngFor="let protocol of protocols" [ngValue]="protocol.ProtocolId">
                        {{ protocol.ProtocolName }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
                <div class="col-25">
                    <label for="lname">DeploymentUnit Type {{selectedDUType}}</label>
                </div>
                <div class="col-75">
                    <select name="deploymentunitType" [(ngModel)]="selectedDUType">
                        <option *ngFor="let type of deploymentunitTypes" [ngValue]="type.Id">
                            {{ type.Name }}
                        </option>
                    </select>
                </div>
            </div>
        <div class="row">
            <input type="submit" value="{{isEdit ? 'Update' : 'Save'}}">
        </div>
    </form>
</div>