<div class="header">
    <div class="logo"><img class="mr-10" src="assets/images/logo.png" alt=""> Configration Manager</div>
  </div>

  <div class="container">
    <div class="content-wrapper">

      <div class="manageapp-header">
        <h1 class="pull-left">Deployment Units Mapping</h1>
  </div>


<div class="map-draggable-container">
  <div class="map-blocks-source">
    <ul>
      <li *ngFor="let source of sourceSettings"
      (click)="selectSourceItem(source.Id)"
      [ngClass]="selectedSourceItem==source.Id ? 'active' : ''">
          <span>{{source.Name}}</span>
      </li>
    </ul>
  </div>
  <div class="mapping-section">
    <ul>
      <li *ngFor="let arrow of mappingButtonsTosend; let i = index;" [ngClass]="arrow.enable ? 'active' : '' " class="{{arrow.class}}" (click)="sendData(i)"></li>
    </ul>
  </div>
  <div class="map-blocks-destination">
    <ul>
        <li *ngFor="let destination of destinationSettings"
        (click)="selectDestinationItem(destination.Id)"
        [ngClass]="selectedDestinationItem==destination.Id ? 'active' : ''">
            <span>{{destination.Name}}</span>
        </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div class="footer-section">
  <div class="buttons">
    <input type="submit" value="Save" class="button-default" (click)="saveDeployUnitConfigSettings()">
  </div>
  <div class="buttons mr-20">
      <input type="submit" value="Cancel" class="button-danger" (click)="navigateDeployUnits()">
    </div>
  </div>
</div>
</div>
