<h3 class="header">Deplyment Units Mapping</h3>
<span *ngFor="let error of errorList;">
  <p>{{error}}</p>
</span>
<div class="map-draggable-container">
  <div cdkDropList class="map-draggable pull-left"
    [cdkDropListConnectedTo] ="mapsettingList">
    <span cdkDrag *ngFor="let item of configSettings" class="item">
      {{item.Name}}
    </span>
  </div>
  <div cdkDropList class="map-droppable"
    #mapsettingList="cdkDropList"
    (cdkDropListDropped)="drop($event)">
    <span class="item">
      {{activeDeployUnit.Name}}
    </span> <span *ngFor="let map of mappedSettings">{{map}}</span>
  </div>  
</div>
<div class="">
  <input type="submit" value="Save" (click)="configureDeployUnitSettings()">
</div>
