/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
@import './styles/core.scss';
@import './styles/table.scss';
@import './styles/helpers.scss';
@import './styles/form.scss';


.create-button {
    background-color: $btn-bg-color;
    border: none;
    color: $color-black;
    padding: 12px 32px;
    text-align: right;
    font-size: 16px;
    margin: 5px 5px 5px auto;
    cursor: pointer;
    display:flex;
}

/* end action menu css */
/* Css of Create Form*/
.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* end Create form */
/* Generic Style*/


/* Generic Style*/

.map-draggable-container div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.map-draggable-container div ul li {
  margin: 0;
  line-height: 24px;
  position: relative;
  font-size: 13px;
  white-space: nowrap;
  border-bottom: 1px solid #e2e3e4;
  padding: 5px;
}
.map-draggable-container{
  width: 700px;
  margin: 0 auto;
}

.map-draggable-container {
  position: relative;

  .map-blocks-source{
    border-radius: 6px;
    border: 1px solid #e2e3e4;
    width: 222px !important;
    float: left !important;
    overflow-y: auto;
    height: 300px !important;
    box-sizing: border-box;
    ul{
      li{
        &:hover{
          background-color: #ccc;
          color: #fff;
        }

        &.active{
          background-color: #ccc;
          color: #fff;
        }
        span{
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }

  .map-blocks-destination{
    border-radius: 6px;
    border: 1px solid #e2e3e4;
    width: 222px !important;
    float: right !important;
    overflow-y: auto;
    height: 300px !important;
    box-sizing: border-box;
    ul{
      li{
        &:hover{
          background-color: #ccc;
          color: #fff;
        }

        &.active{
          background-color: #ccc;
          color: #fff;
        }
        span{
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }
  .mapping-section{
    width: 60px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    ul{
      padding-top: 60px;
      li{
        list-style: none;
        width: 60px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

        &:hover{
          background-color: #ccc;
          color: #fff;
        }

        &.active{
          background-color: #ccc;
          color: #fff;
        }
      }
    }
  }
}
